<footer>
    <div class="footer f-info d-flex justify-content-evenly align-items-center">
        <div class="f-info-brand">Copyright &copy; 2025 Accommate. Made for students, by a student. All rights reserved.</div>

        <div class="f-info-links">
            <a href="/support#about">About ·</a>
            <a href="/support#help">Help ·</a>
            <a href="/support#terms">Terms ·</a>
            <a href="/support#privacy">Privacy</a>
        </div>

        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook" style="color: rgb(6, 79, 151)"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-square-linkedin" style="color: dodgerblue"></i>
        </div>
    </div>
</footer>