<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand ps-5" href="/">
        <i class="fa-solid fa-house-tsunami"></i>
    </a>
    <div class="navs pe-5">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Accommate</a>
          <a class="nav-link" href="/listings">Find a Stay</a>
          <a class="nav-link" href="/listings/new">Host Your Space</a>
        </div>
      </div>
    </div>
  </div>
</nav>
