.searchbar-item {
  flex: 1;
  width: 100%;
  display:flex; 
  flex-direction:column; 
  align-items:center;
  margin-bottom: 0.2rem;
}

.searchbar-item-inputbase {
  font-size: 1rem;          /* default for mobile */
}

@media (min-width: 600px) {  /* sm breakpoint */
  .searchbar-item-inputbase {
    font-size: 0.95rem;
  }
}

/* Actual input element inside InputBase */
.searchbar-item-inputbase input {
  text-align: center;
}

@media (max-width: 600px) {  /* sm breakpoint */
  /* Placeholder styling */
  .searchbar-item-inputbase input::placeholder {
    font-size: inherit;
    text-align: center;
    border: 1px solid gray;
    border-radius: 0.5rem;
  }
}
