<% layout("/layouts/boilerplate") %>

<h3 class="text-center">Find your perfect student stay.</h3>
<h6 class="border-bottom pb-3 text-center fst-italic">--- Explore verified student accommodations near your campus ---</h6>

<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-3 row-cols-xs-2 pt-5">
    <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card cols">
            <img src="<%= listing.image %>"
            class="card-img-top"
            alt="listing-img"
            style="height: 10rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b> - &#8377;<%= listing.price.toLocaleString("en-IN") %>/month
                </p>
            </div>
        </div>
    </a>
    <% } %>
</div>