<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2">
        <h3 class="text-center">Host your space with <span>Accommate</span>.</h3>
        <h6 class="border-bottom pb-3 text-center fst-italic">--- Turn your spare room into a student’s next home. ---</h6>
        
        <form action="/listings" method="post" class="pt-3 needs-validation" enctype="multipart/form-data" novalidate>
        
            <!-- Title -->
            <div class="mb-3">
                <label for="title" class="form-label">Title : </label>
                <input type="text" name="listing[title]" id="title" class="form-control" placeholder="Ex: Cozy Student Room Near Delhi University" minlength="5" maxlength="30" required>

                <div class="invalid-feedback">Give your space a valid name.</div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="desc" class="form-label">Description : </label>
                <textarea name="listing[desc]" id="desc" class="form-control" placeholder="Ex: Spacious 1BHK apartment with balcony and free Wi-Fi, perfect for students." minlength="5" maxlength="100" required></textarea>

                <!-- <div class="valid-feedback">Looks great! Your listing will stand out.</div> -->
                <div class="invalid-feedback">Share a few details about what makes it stand out?</div>
            </div>

            <!-- Location & State -->
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="location" class="form-label">Location : </label>
                    <input type="text" name="listing[location]" id="location" class="form-control" placeholder="Ex: Kamla Nagar, Delhi" required>

                    <div class="invalid-feedback">Enter a valid location.</div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="state" class="form-label">State : </label>
                    <input type="text" name="listing[state]" id="state" class="form-control" placeholder="Ex: Delhi" required>
                    
                    <div class="invalid-feedback">Enter a valid state.</div>
                </div>
            </div>

            <!-- Price & Capacity -->
            <div class="row">
                <div class="mb-3 col-md-6 price">
                    <label for="price" class="form-label">Price : </label>
                    <input type="number" name="listing[price]" id="price" class="form-control" placeholder="Ex: 4,500 / month..." min="0" required>
                    
                    <div class="invalid-feedback">Add a valid listing price.</div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="capacity" class="form-label">Capacity : </label>
                    <input type="number" name="listing[capacity]" id="capacity" class="form-control" placeholder="Ex: 2" min="1" max="20" required>

                    <div class="invalid-feedback">Add a valid room capacity.</div>
                </div>
            </div>

            <!-- Image URL -->
            <div class="mb-3 img-box">
                <label for="image" class="form-label">Upload Image : </label>
                <input type="file" name="listing[image]" id="image" class="form-control">
            </div>
        
            <button class="btn btn-warning add-btn">Add Listing</button>
        </form>
    </div>
</div>