<style>
    .wrapper {
        width: 90%;
        margin: auto;
    }
</style>

<% layout("/layouts/boilerplate") %>

<section>
    <div class="wrapper">
        <h2 style="color: #0d4ab5;">Find Your Perfect Stay Near Campus</h2>
        <p style="    font-size: 1.02rem;
    line-height: 1.5rem;">Student accommodations near universities, tailored to your comfort and budget.</p>
    </div>
</section>