<% layout("/layouts/boilerplate") %>

<section>
    <div class="wrapper hero-intro">
        <h2 style="color: #0d4ab5;">Welcome to Accommate</h2>
        <p>Find Your Perfect Stay Near Campus tailored to your comfort and budget.</p>
        <p>
            Your smart companion for discovering, hosting, and managing accommodations with ease. Whether you’re looking for a cozy apartment, a shared flat, or a weekend escape, Accommate connects you to spaces that feel like home.
        </p>
        
        <form action="/listings">
            <button class="btn btn-primary px-4 py-2 rounded-pill">Start Exploring</button>
        </form>
    </div>
</section>

<section>
    <div class="d-flex flex-md-wrap wrapper mt-2 mb-2 cards"  style=" border-radius: 1rem;">
        <div class="home-card card glassy-card">
            <h4>Explore Stays You’ll Love</h4>
            <p>Browse through thousands of listings tailored to your needs, from student rooms to vacation homes.</p>
            <form action="/listings">
                <button class="btn btn-primary px-4 py-2 rounded-pill">Start Exploring</button>
            </form>
        </div>

        <div class="home-card card glassy-card">
            <h4>Host with Confidence</h4>
            <p>List your space and start earning. Manage bookings, availability, and guests all in one dashboard.</p>
            <form action="/listings/new">
                <button class="btn btn-primary px-4 py-2 rounded-pill">Host Listing</button>
            </form>
        </div>
        
        <div class="home-card card glassy-card">
            <h4>Seamless Booking Experience</h4>
            <p>From search to stay we’ve made the process fast, secure, and hassle-free for every traveler.</p>
            <form action="/listings">
                <button class="btn btn-primary px-4 py-2 rounded-pill">Book Listing</button>
            </form>
        </div>
    </div>
</section>