.auth-card-container {
    display: flex;
    justify-content: center;
}

.auth-card {
    max-width: 80vw !important;
    border-radius: 1rem;
    background: rgb(255, 255, 255);
    backdrop-filter: blur(12px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 6px 20px rgba(0,0,0,0.4);
}