<footer>
    <div class="footer f-info d-flex justify-content-evenly align-items-center">
        <div class="f-info-brand"><p class="m-0 text-center">Copyright &copy; 2025 Accommate. All rights reserved.</p></div>

        <div class="f-info-links">
            <a href="/support#about">About</a> &nbsp; | &nbsp;
            <a href="/support#help">Help</a> &nbsp; | &nbsp;
            <a href="/support#terms">Terms</a> &nbsp; | &nbsp;
            <a href="/support#privacy">Privacy</a> &nbsp; | &nbsp;
            <a href="">contact us</a>
        </div>
    </div>
</footer>